<template>
  <Page>
    <ActionBar>
      <Label text="Headless poc native script"></Label>
    </ActionBar>

    <StackLayout orientation="vertical">
      <Button text="Fetch names" @tap="fetchNames" />
      <Button text="Clear" @tap="clear" />
      <Label :text="name" v-for="(name,index) in names" :key="index" padding="12" />
    </StackLayout>
  </Page>
</template>

<script>
import { API as HeadlessAPI } from "headless-ts";
const api = new HeadlessAPI();

export default {
  data: function() {
    return { names: [] };
  },

  created: function() {
    api.store.subscribe(() => {
      this.names = api.store.getState().names;
    });
  },

  methods: {
    fetchNames: ()=> api.fetchNames(),
    clear: function() {
      this.names = []
    }
  }
};
</script>

<style scoped lang="scss">
@import "~@nativescript/theme/scss/variables/blue";
</style>
